.result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.result-inner {
    background: #fff;
    max-width: 600px;
    border-radius: 30px;
    padding: 0 40px 0 40px;
}

.result-inner .img {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.result .count {
    text-align: center;
    font-size: 24px;
    margin: 15px;
}

.result .question li{
    cursor: auto;
}

.result .question li:hover{
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.result .question li.correct {
    border: 2px solid rgba(129, 217, 56, 0.76);
}

.result .question li.incorrect {
    border: 2px solid rgba(236, 24, 68, 0.76);
}
.result .question {
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.result .question.correct {
    border: 3px solid rgba(117, 241, 13, 0.76);
}

.result .question.incorrect {
    border: 3px solid rgba(236, 24, 68, 0.76);
}

